body {
  padding: 0px;
}

.panel {
  float: left;
  width: 50%;
}

textarea {
  width: 50%;
  resize: none;
  border: 2px solid red;

}

#topbar {
  background-color: #b3ffff;
  height: 50px;
  width: 100%;
  padding-top: 7px;
}

#outputText {
  border-style: solid;
  border-width: 3px;
  border-color: green;
}

#logo {
  float: left;
  font-size: 150%;
  color: blue;
}

#buttons {
  margin: 0 auto;
  width: 350px;
}

.toggleButton {
  float: left;
  padding: 2px;
}

.hidden {
  display: none;
}
