
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#logo {
  margin-bottom: 20px;
  position: relative;
  left: 170px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

.seatDisplay {
  float: left;
}

#planeLeft {
  display: none;
  position: relative;
  background-image: url('images/aircraft_2d(1).png');
  left: 30px;
  width: 350px;
  height: 800px;
  background-repeat: no-repeat;
  float: left;
}

#planeRight {
  display: none;
  position: relative;
  background-image: url('images/aircraft_2d(2).png');
  width: 350px;
  height: 800px;
  background-repeat: no-repeat;
  float: left;
}

#cNumber {
  margin-left: 15px;
  color: red;
  letter-spacing: 5px;
}

#eClass, #bClass, #pClass {
  letter-spacing: 10px;
}

#seatInfo {
  position: relative;
  right: 320px;
  height: 100px;
  width: 200px;
  background-color: white;
  float: right;
}

#flightInfo {
  position: absolute;
  left: 40px;
  height: 300px;
  width: 400px;
  float: left;
  z-index: 2;
}

.cHeader{
  letter-spacing: 0px;
  font-size: 12px;
}

.container  {
  margin-bottom: : 40px;
}

.container img {
  height: 50px;
}

#thePlane{
  margin-top: 20px;
  position: relative;
}
